@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

@font-face {
  font-family: childshand;
  src: url(fonts/ChildsHand-x3OwO.ttf);
}

@font-face {
  font-family: blackerpro;
  src: url(fonts/Blacker-Pro-Display-Medium.otf);
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  margin: 0;
  font-family: cabin;
  font-weight: medium;
  font-smooth: always;
  color: #ad515a;
  font-size: 18px;
  line-height: 18px;
}

h1 {
  margin: 0;
  margin: 0;
  font-family: blackerpro;
  font-weight: 500;
  font-smooth: always;
  color: #ad515a;
  font-size: 64px;
  line-height: 65px;
}

h2 {
  margin: 0;
  margin: 0;
  font-family: cabin;
  font-weight: 500;
  font-smooth: always;
  color: #ad515a;
  font-size: 36px;
  line-height: 35px;
}

main {
  width: 500vw;
  height: 100vh;
  background-image: url(images/thin-bg.png);
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  z-index: -50;
}

section {
  flex: 100vw;
  position: relative;
  border: 1px solid aqua;
}


.arch-overlap {
  position: relative;
  z-index: 0;
}
.arch {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 0;
}

.pegasus {
  width: 800px;
  position: absolute;
  bottom: 50px;
  left: -400px;
  z-index: 100;
  animation-name: peg-fly;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.narwhal {
  width: 500px;
  position: absolute;
  bottom: 50px;
  left: -400px;
  z-index: 100;
  animation-name: narwhal-fly;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.mercolumn {
  position: relative;
}
.mermaid {
  position: absolute;
  top: 50;
  left: 0;
  right: 300;
  width: 500px;
  z-index: 5;
  animation-name: mer-fly;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes peg-fly {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg) translate(-200, -100px);
  }
  100% {
    transform: translate(400px, -100px);
  }
}

@keyframes mer-fly {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-15deg) translate(-200, -100px);
  }
  100% {
    transform: translate(200px, -100px);
  }
}

@keyframes narwhal-fly {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg) translate(-200, -100px);
  }
  100% {
    transform: translate(400px, -100px);
  }
}

.cloud {
  width: 150vh;
  position: absolute;
  top: 50px;
  left: 200px;
  animation-name: cloud;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.bubbles {
  width: 150vh;
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  animation-name: cloud;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.seaweed {
  width: 150vh;
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  animation-name: cloud;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.cloud1 {
  width: 250px;
  position: absolute;
  top: 400px;
  left: 600px;
  animation-delay: 250ms;
}

@keyframes cloud {
  0% {
    transform: translate(4px, -20px);
  }
  50% {
    transform: translate(-4px, 20px);
  }
  100% {
    transform: translate(4px, -20px);
  }
}

.center-p5 {
  width: 460px;
  margin: auto;
  margin-top: 150px;
  position: relative;
  padding: 80px 80px;
}
.center-p5 h1 {
  padding-bottom: 20px;
  padding-top: 50px;
}
.arch-p5 {
  position: absolute;
  top: 0;
  left: 0;
}
.hero {
  display: flex;
  padding: 80px;
}

.twitter {
  width: 40px;
  height: 40px;
}

.tiktok {
  width: 40px;
  height: 40px;
}

.insta {
  width: 40px;
  height: 40px;
}
.hero div:nth-child(1) {
  flex: 40%;
}
.hero div:nth-child(2) {
  flex: 60%;
}

.hero p {
  margin-left: 20px;
}

.strawberry {
  display: flex;
  padding: 80px;
}

.strawberry div:nth-child(1) {
  flex: 40%;
}
.strawberry div:nth-child(2) {
  flex: 60%;
}

.strawberry p {
  margin-left: 80px;
  padding-right: 300px;
}

.hero h1 {
  margin: 0;
  margin: 0;
  font-family: blackerpro;
  font-weight: 500;
  font-smooth: always;
  color: #d9abb0;
  font-size: 64px;
  line-height: 65px;
}

.page-three h1 {
  margin: 0;
  margin: 0;
  font-family: blackerpro;
  font-weight: 500;
  font-smooth: always;
  color: #4E60AB;
  font-size: 64px;
  line-height: 65px;
}

.blueberry p {
  font-family: cabin;
  font-weight: medium;
  font-smooth: always;
  color: #4E60AB;
  font-size: 18px;
  line-height: 18px;
  margin-left: 80px;
  padding-right: 300px;
}

.page-four h1 {
  margin: 0;
  margin: 0;
  font-family: blackerpro;
  font-weight: 500;
  font-smooth: always;
  color: #D9C511;
  font-size: 64px;
  line-height: 65px;
}

.banana p {
  margin-left: 80px;
  padding-right: 300px;
  font-family: cabin;
  font-weight: medium;
  font-smooth: always;
  color: #D9C511;
  font-size: 18px;
  line-height: 18px;
}


.heroimg {
  padding: 30px;
  margin-right: 100px;
  z-index: 1;
  position: absolute;
}

.herotext {
  margin-left: 100px;
  margin-top: 180px;
}

.logopink {
  height: 20px;
  width: 20px;
}

.blueberry {
  display: flex;
  padding: 80px;
}

.blueberry div:nth-child(1) {
  flex: 40%;
}
.blueberry div:nth-child(2) {
  flex: 60%;
}


.banana {
  display: flex;
  padding: 80px;
}

.banana div:nth-child(1) {
  flex: 40%;
}
.banana div:nth-child(2) {
  flex: 60%;
}


